### Node ###
# Logs
logs
*.log
npm-debug.log*
**/*npm-debug.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

### IDEs and editors ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.project
.classpath
*.launch
.settings/

# misc
npm-debug.log
testem.log
**/typings/**

# compiled output
*.js
*.js.map

# testing

# System Files
.DS_Store
Thumbs.db