<div class="col-xs-12"
<div class="row">
  <h2>Fixtures</h2>
  Round: {{vm.season.currentRoundNumber}}
  <ul>
    <li ng-repeat="match in vm.season.getCurrentRound().getMatches()">
      <span>{{match.getHomeTeam().getName()}}</span>
      <span ng-click="vm.addHomeScore(match)">{{match.getHomeScore()}}</span>
      <span>-</span>
      <span ng-click="vm.addAwayScore(match)">{{match.getAwayScore()}}</span>
      <span>{{match.getAwayTeam().getName()}}</span>
    </li>
  </ul>
  <button ng-show="!vm.season.isFirstRound()" ng-click="vm.season.prevRound()">prev</button>
  <button ng-show="!vm.season.isLastRound()" ng-click="vm.season.nextRound()">next</button>
</div>
<div class="row">
  <div class="col-xs-6">
    <h2>Standings</h2>
    <p>(based on match result)</p>
    <p>Round: {{vm.season1.currentRoundNumber}}</p>
    <ul>
      <li ng-repeat="team in vm.season1.getTeams()">
        <span>{{team.getPoints()}}</span>
        <span>{{team.getName()}}</span>
      </li>
    </ul>
    <button ng-show="!vm.season1.isFirstRound()" ng-click="vm.season1.prevRound()">prev</button>
    <button ng-show="!vm.season1.isLastRound()" ng-click="vm.season1.nextRound()">next</button>
  </div>

  <div class="col-xs-6">
    <h2>Standings</h2>
    <p>(based on your predictions)</p>
    <p>Round: {{vm.predSeason.currentRoundNumber}}</p>
    <ul>
      <li ng-repeat="team in vm.predSeason.getTeams()">
        <span>{{team.getPoints()}}</span>
        <span>{{team.getName()}}</span>
      </li>
    </ul>
    <button ng-show="!vm.predSeason.isFirstRound()" ng-click="vm.predSeason.prevRound()">prev</button>
    <button ng-show="!vm.predSeason.isLastRoundPlayed()" ng-click="vm.predSeason.nextRound()">next</button>
  </div>
</div>
</div>