<div class="col-xs-12">
  <div class="btn-group pull-right ">
    <a class="btn btn-info" data-ng-click="vm.serverRefresh()">
        <i class="fa fa-refresh"></i>&nbsp;&nbsp;<span class="hidden-phone">Refresh</span>
    </a>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Fixtures</h2>
      Round: {{vm.season.currentRoundNumber}}  <span ng-if="vm.canClear" ng-click="vm.clearAll()"><a href="">[X]</a></span>
      <table>
        <tr ng-repeat="match in vm.season.getCurrentRound().getMatches()">
          <td>
            <span>{{match.getHomeTeam().getName()}}&nbsp;&nbsp;</span>
          </td>
          <td>
            <select class="form-control" 
              ng-model="match.homeScore" 
              ng-options="g for g in vm.goalsRange"
              ng-change="vm.goalsChanged()">
            </select>
          </td>
          <td><span>&nbsp;&nbsp;</span></td>
          <td>
            <select class="form-control" 
              ng-model="match.awayScore" 
              ng-options="g for g in vm.goalsRange"
              ng-change="vm.goalsChanged()">
            </select>
          </td>
          <td>&nbsp;&nbsp;<span>{{match.getAwayTeam().getName()}}</span></td>
        </tr>
      </table>
      <button ng-show="!vm.isFirstRound()" ng-click="vm.prevRound()">prev</button>
      <button ng-show="!vm.isLastRound()" ng-click="vm.nextRound()">next</button>
    </div>
    <div class="col-xs-6">
      <h2>Standings</h2>
      <p>(based on match result)</p>
      <p>Round: {{vm.season1.currentRoundNumber}}</p>
      <ul>
        <li ng-repeat="team in vm.season1.getTeams()">
          <span>{{team.getPoints()}}</span>
          <span>{{team.getName()}}</span>
        </li>
      </ul>
      <button ng-show="!vm.isFirstRound()" ng-click="vm.prevRound()">prev</button>
      <button ng-show="!vm.isLastRound()" ng-click="vm.nextRound()">next</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Standings</h2>
      <p>(based on your predictions)</p>
      <div class="row">
        <span class="col-xs-3">
            From Matchday:
        </span>
        <div class="col-xs-2">
          <select ng-model="vm.selectedPredRound" 
              ng-options="r as r.name for r in vm.predRounds track by r.id"
              ng-change="vm.onPredStandingRoundChanged()"
              class="form-control">
          </select>
        </div>
      </div>
      <ul>
        <li ng-repeat="team in vm.predSeason.getTeams()">
          <span>{{team.getPoints()}}</span>
          <span>{{team.getName()}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>