<div class="col-md-12">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">Code</label>
			<div>
				<input class="form-control"
							 data-ng-model="vm.league.code"
							 placeholder="Code" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Name</label>
			<div>
					<input class="form-control" 
									ng-model="vm.league.name"
									placeholder="Name" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Slug</label>
			<div>
					<input class="form-control" 
									ng-model="vm.league.slug"
									placeholder="Slug" />
			</div>
		</div>
	</div>
</div>