<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="btn-group pull-right">
            <div class="btn-group">
                <a class="btn btn-info btn-sm"
                   data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i><span>Refresh</span></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="widget wblue col-sm-12">
        <div data-cc-widget-header title="Leagues" subtitle="{{vm.leagues.length}}"></div>
        <div class="widget-content text-center text-info">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Code</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="league in vm.leagues">
                        <td ng-click="vm.gotoLeague(league)" title="Go to league details">{{$index + 1}}</td>
                        <td class="text-left" ng-click="vm.gotoLeague(league)" title="Go to league details">{{league.code}}</td>
                        <td class="text-left" ng-click="vm.gotoLeague(league)" title="Go to league details">{{league.name}}</td>
                        <td class="text-left">{{league.region}}</td>
                        <td class="text-left">{{league.country}}</td>
                        <td class="text-left">{{league.teamType}}</td>
                        <td class="text-left">
                            <a class="btn btn-info btn-sm" ui-sref="leagues.edit.seasons({leagueId: league.id})"><span>Seasons</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="widget-foot">
            <div class="clearfix"></div>
        </div>
    </div>
</div>
