<section>
  <form data-ng-submit="vm.createPredictions()" novalidate>
    <div class="row">
      <div class="col-md-8 col-md-offset-1 score-container date-picker">
        <div class="btn-group">
          <div class="col-xs-2 btn btn-primary" ng-click="vm.prevMatchday()"><i class="fa fa-chevron-left"></i></div>
          <div class="col-xs-8 btn btn-primary" ng-click="vm.currMatchday()">Matchday {{vm.matchday}}</div>
          <div class="col-xs-2 btn btn-primary" ng-click="vm.nextMatchday()"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
    <div class="row" class="" ng-repeat="fixture in vm.fixtures">
      <div class="col-md-8 col-md-offset-1 score-container">
        <div class="row text-center">
          <div class="col-xs-12 date">{{fixture.date | date:'EEEE MMMM d y, h:mma'}}</div>
        </div>
        <div class="row text-center">
          <div class="col-xs-3 vcentre">
            <img height="60px" ng-src={{fixture.homeTeam.crestUrl}}></img><br>
            <span style="font-size:1.4em;">{{fixture.homeTeam.name}}</span>
          </div>
          <div class="col-xs-6">
            <match-prediction></match-prediction>
          </div>
          <div class="col-xs-3 vcentre">
            <img height="60px" ng-src={{fixture.awayTeam.crestUrl}}></img><br>
            <span style="font-size:1.4em;">{{fixture.awayTeam.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-3">            
        <button class="btn btn-block btn-success btn-lg btn-submit-pred" type="submit">Submit Predictions 
          <!--<span class="badge">2</span>-->
          &nbsp;&nbsp;<i class="fa fa-check"></i>
        </button>
        <button class="btn btn-block btn-primary btn-lg" type="button" ng-if="vm.showLuckyDip()" ng-click="vm.luckyDip()">
          <i class="fa fa-star"></i>
          Lucky Dip
        </button>
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6 col-md-offset-2 score-container">
            <div class="row">
                <div class="date text-center">This Week Scores</div>
            </div>
            <h2>Total Score {{resultValue | calcScore}}<h2>
        </div>
    </div>
  </form>
</section>