<h4>Leaderboard</h4>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Pos</th>
				<th>Name</th>
				<th>Points</th>
				<th>Goal Difference</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="score in scores">
				<td>
					<i ng-if="score.change > 0" class="glyphicon glyphicon-chevron-up"></i> 
					<i ng-if="score.change < 0" class="glyphicon glyphicon-chevron-down"></i> 
					<i ng-if="score.change === 0" class="glyphicon glyphicon-minus"></i>
					{{score.rank}}
				</td>
				<td>{{score.User.displayName}}</td>
				<td>{{score.ScoreCount[2] || 0}}</td>
				<td>{{score.ScoreCount[3] || 0}}</td>
			</tr>
		</tbody>
	</table>
</div>