<h4>Rules</h4>
<b>Scoring</b><br/>
Scores are calculated based on the outcome of a match and the accuracy of your prediction. <br/>
Points are awarded as follows:
<ul>
<li style="list-style: none;">1) 4 points for correctly predicting the winner or draw.</li>
<li style="list-style: none;">2) 1 point for correctly predicting the goal difference</li>
<li style="list-style: none;">3) 1 point for each correct team score prediction.</li>
<li style="list-style: none;">4) 1 point for correctly predicting the actual score.</li>
<li style="list-style: none;">5) 1 point for each team score prediction of 2 goals or more.</li>
<li style="list-style: none;">6) 1 point if your match score prediction is within 1 goal of the actual score.</li>
</ul>
(0-10 points)<br/>
<p><b><i>Tip: Try calculator below</i></b></p>
<b>Aim</b>
<p>Each player tries to get as many points as possible, in the event of a tie, the goal difference of the two players will count.
ie if two people are level on points their position in the leaderboard will be determined by goal difference</p>
<b>Goal difference</b>
<ul>
<li style="list-style: none;">1) For each correct number of goals you predict per team, you gain the number of goals predicted (+1 if 0).<br/>
&nbsp;&nbsp;&nbsp;&nbsp;e.g. you predicit 2 and the team scores 2, you gain 2 goals.</li>
<li style="list-style: none;">2) For each incorrect number of goals you predict per team, you lose the difference in goals.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;e.g. you predict 3 and the team scores 1, you lose 2 goals.</li>
<li style="list-style: none;">3) For each correct match-outcome prediction but incorrect final score
  <ul>
    <li style="list-style: none;">3.1) If difference between predicted and actual goals for a team is 1, you neither lose nor gain goals.for that team</li>
    <li style="list-style: none;">3.2) If match goal difference and predicted goal difference is equal, you gain one goal.</li>
  </ul>
<li style="list-style: none;">4) For each score, you gain the lower of the match and prediction absolute goal-differences (+1 if 0).
</ul>
<p><b><i>Tip: Try calculator below</i></b></p>

<b>The Joker card</b>
<p>The Joker is placed on the prediction that you are most confident about and will double your points (& Gd) for that match if your goal difference is not negative.</p>
<b>Tip </b><br/>
<p>For each match, predict what you think the final score will be. The closer you are to the actual result, the more points you score.<br/>
 Play your joker on the score you think is most likely to double your points.
</p>
<b>Calculator</b>
<div class="row">
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Team A</th>
          <th>vs</th>
          <th>Team B</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>FINAL RESULT</b></td>
          <td><select class="form-control" ng-model="vm.homeScoreResult" ng-options="g for g in vm.goalsRange"
              ng-change="vm.goalsChanged()"></select></td>
          <td>&nbsp;</td>
          <td><select class="form-control" ng-model="vm.awayScoreResult" ng-options="g for g in vm.goalsRange" 
              ng-change="vm.goalsChanged()"></select></td>
          <td>&nbsp;</td>
        </tr>     
        <tr>
          <td><b>PREDICTION</b></td>
          <td><select class="form-control" ng-model="vm.homeScorePrediction" ng-options="g for g in vm.goalsRange"
              ng-change="vm.goalsChanged()"></select></td>
          <td>&nbsp;</td>
          <td><select class="form-control" ng-model="vm.awayScorePrediction" ng-options="g for g in vm.goalsRange"
              ng-change="vm.goalsChanged()"></select></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3">
            <p>Points: <b>{{vm.points.value}}</b>&nbsp;&nbsp;&nbsp;
            Goal Difference: <b><span ng-if="vm.goalDiff.value > 0">+</span>{{vm.goalDiff.value}}</b></p>
          </td>
          <td></td>
        </tr>  
        <tr>
          <td colspan="3">
            <input type="checkbox" ng-model="vm.hasJoker" ng-change="vm.jokerChanged()"/>
            Joker 
            <span class="joker-container">
              <label>
                  <input type="checkbox" name="joker" ng-model="vm.hasJoker" ng-if="vm.hasJoker == true" ng-change="vm.jokerChanged()" ng-value="true" checked>
                  <input type="checkbox" name="joker" ng-model="vm.hasJoker" ng-if="!vm.hasJoker == true" ng-change="vm.jokerChanged()" ng-value="true">
                  <img ng-if="!vm.hasJoker == true" src="images/Joker13.svg" alt="JOKER" />
                  <img ng-if="vm.hasJoker == true" src="images/Joker14.svg" alt="JOKER" />
              </label>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <span ng-if="vm.hasJoker && vm.totalGoalDiff > -1">Joker (x2) </span><br/>
            <p>Points: <b>{{vm.totalPoints}}</b>&nbsp;&nbsp; Goal Difference: <b>
            <span ng-if="vm.totalGoalDiff > 0">+</span>{{vm.totalGoalDiff}}</b></p>
          </td>
        </tr>                             
      </tbody>
    </table>    
  </div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
              {{vm.points.value}} Points <span ng-if="vm.points.value > 0">(Breakdown)</span>
        </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Rule</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="0" ng-repeat-start="(key, rule) in vm.points.rules">
        <tr ng-if="rule.show">
          <td><i>{{rule.id}}) </i>{{rule.name}}</td>
          <td>{{rule.value}}</td>
        </tr>
        <tr ng-if="0" ng-repeat-end></tr>
        <tr>
          <td colspan="2"><b>Total: {{vm.points.value}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <span ng-if="vm.goalDiff.value > 0">+</span>{{vm.goalDiff.value}} Goal-Diff (Breakdown)
        </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Rule</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="0" ng-repeat-start="(key, rule) in vm.goalDiff.rules">
        <tr ng-if="rule.show">
          <td><i>{{rule.id}}) </i>{{rule.name}}</td>
          <td><span ng-if="rule.value != null && rule.value > 0">+</span>{{rule.value}}</td>
        </tr>
        <tr ng-if="0" ng-repeat-end></tr>
        <tr>
          <td colspan="2"><b>Total: {{vm.goalDiff.value}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class=""

